<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentalHub"
        tools:targetApi="31">
        <activity
            android:name=".Activity_ChangePassword"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_DiagnosisResult"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectSymptoms"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectLocation"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectAppointments"
            android:exported="false" />
        <activity
            android:name=".Activity_ViewAppointment"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectInsurance"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectDateTime"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectService"
            android:exported="false" />
        <activity
            android:name=".Activity_SelectDoctor"
            android:exported="false" />
        <activity
            android:name=".Activity_Tech"
            android:exported="false" />
        <activity
            android:name=".Activity_Care"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsUfGM0eSwPw7Mg4CU0x9PSnfbB_zKCy8" />

        <activity
            android:name=".Activity_Contact"
            android:exported="false" />
        <activity
            android:name=".Activity_Services"
            android:exported="false" />
        <activity
            android:name=".Activity_ConfirmationAppointment"
            android:exported="false" />
        <activity
            android:name=".Activity_DoctorsInfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_SignUp"
            android:exported="false" />
        <activity
            android:name=".Activity_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>